body {
    background-color:rgb(187, 187, 187);
    color: rgb(0, 0, 0);
  }

  h1 {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
  }