{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h2>Welcome to our games home page.<h2>
         <canvas></canvas>
    <h4>next step is to make this look pretty</h4>
  </div>
  <button>
    <a href="http://127.0.0.1:5000">Main Menu</a>
  </button>
  <script
   type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='style.css') }}"></script>
</head>

<body>

  
  <div class="audio-container">
    <audio src="{{ url_for('static', filename='mp3/Jumper_theme.mp3') }}" autoplay loop controls="volume"></audio>
  </div>

  <audio id="myAudio" src="{{ url_for('static', filename='mp3/jump_sfx.mp3') }}"></audio>
  <script>
    document.addEventListener('keydown', function(event) {
      if (event.key === 'w') {
        var audio = document.getElementById('myAudio');
        audio.currentTime = 0;
        audio.play();
      }
    });
    </script>

<button>
  <a href="http://127.0.0.1:5000/gamePage">Restart Game</a>
</button>
<button onclick="window.location.href='/exit_game'">Exit Game</button>



<div id="overlay">
  <div id="pause-menu">
    <h2>Game Paused</h2>
    <button onclick="resumeGame()">Resume</button>
  </div>
</div>

</body>
{% endblock %}
